
<%= simple_form_for [@category, @service], method: :post do |f| %>
	<div class="form-group">
		<%= f.input :title, input_html: { class: 'form-control' } %>
	</div>

	<div class="form-group">
		<%= f.input :kind, input_html: { class: 'form-control' }, label: 'Type' %>
	</div>

	<div class="form-group">
		<%= f.input :pdf_needed, as: :select,  collection: ["Yes", "No"], input_html: { class: 'form-control' }, prompt: 'Select One' %>
	</div>

	<div class="form-group">
		<%= f.input :status, as: :select,  collection: [["Public", "public"], ["Private", "private"]], input_html: { class: 'form-control' }, prompt: 'Select One' %>
	</div>

	<div class="form-group">
		<%= f.input :description, as: :text, input_html: { class: 'form-control', rows: 5 } %>
	</div>

	<div class="form-group">
		<%= f.submit 'Submit', class: 'form-control btn btn-primary' %>
	</div>
<% end %>
