<tr id="<%= "category_" + category.id.to_s %>">
  <td>
    <h4 class="h6 fw--500 text-darkest"><a href="<%= category_path(category) %>" class="btn-link"><%= category.title %></a></h4>

    <p>Started by <a href="#"><%= category.user.username %></a></p>
  </td>
  <td>
    <p><%= time_ago_in_words(category.created_at) %> ago</p>
  </td>
  <td>
    <% if user_signed_in? %>
      <% if category.manager == current_user %>
        <h5 class="h6 fw--500 text-darkest">
          <a href="#" class="btn-link">
            <%= link_to '', edit_category_path(category), class: 'fa fa-pencil', title: 'Edit', data: { toggle: 'tooltip' }, remote: true %>

            <%= link_to '', category, method: :delete, class: 'fa fa-trash', title: 'Delete', data: { toggle: 'tooltip', confirm: "Are you sure?" }, remote: true, style: 'padding-left: 10px' %>
          </a>
        </h5>
      <% end %>  
    <% end %>
  </td>
</tr>