<!DOCTYPE html>
<html>
  <head>
    <title>HelpDesk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
  	<!-- Preloader Start -->
    <!-- <div id="preloader">
        <div class="preloader--inner"></div>
    </div> -->
    <!-- Preloader End -->

    <div class="wrapper">
    	<%= render 'header' %>
      <%= render "shared/flash_messages" %>
    	<%= yield %>
    	<%= render 'footer' %>
    </div>
  </body>

  <%= javascript_include_tag 'js/main.js' %>
  <%= javascript_include_tag 'js/plugins.min.js'%>

</html>
