<!DOCTYPE html>
<html>
  <head>
    <title>HelpDesk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- Preloader Start -->
    <!-- <div id="preloader">
        <div class="preloader--inner"></div>
    </div> -->
    <!-- Preloader End -->

    <div class="wrapper">
    	<%= render 'header' %>
      <%= render "shared/flash_messages" %>
    	<%= yield %>
    	<%= render 'footer' %>
    </div>
  </body>

  <%= javascript_include_tag 'js/main.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'js/plugins.min.js', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</html>
